$font-size-default: 16px;
$main-color: #161815;
$green-color: #6de754;
$txt-white: #ffffff;
$txt-black: #000000;
$txt-grey: #909090;
$cards-bg: #1e201d;
$bg-none: transparent;
$wFull: 100%;
$btn-pad: 12px 32px;
$txt-center: center;
$brdr-radius: 12px;
$brder-form: 1px solid $green-color;
$desktop-main-fnt: 88px;
$tablet-main-fnt: 62px;
$mobile-main-fnt: 30px;
$desktop-sub-fnt: 48px;
$tablet-sub-fnt: 36px;
$mobile-sub-fnt: 24px;
