/* Box sizing border-box for all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Typography reset */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
}

/* Remove default margins, padding and list styles (bullets/numbers) */
ul,
li {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

/* Remove anchor tag default styles */
a {
  text-decoration: none;
  color: inherit;
}

/* Remove button default styles */
button {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

/* Remove input default styles */
input {
  border: none;
  padding: 0;
  margin: 0;
  outline: none;
  font-size: inherit;
  font-family: inherit;
  background-color: transparent;
  border-radius: initial;
  outline: initial;
  box-shadow: initial;
}

body {
  font-size: 16px;
  color: #fff;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

@font-face {
  font-family: "SFProTextRegular";
  src: url("../../fonts/SFProTextRegular.eot");
  src: url("../../fonts/SFProTextRegular.eot") format("embedded-opentype"), url("../../fonts/SFProTextRegular.woff2") format("woff2"), url("../../fonts/SFProTextRegular.woff") format("woff"), url("../../fonts/SFProTextRegular.ttf") format("truetype"), url("../../fonts/SFProTextRegular.svg#SFProTextRegular") format("svg");
}
@font-face {
  font-family: "SFProTextSemibold";
  src: url("../../fonts/SFProTextSemibold.eot");
  src: url("../../fonts/SFProTextSemibold.eot") format("embedded-opentype"), url("../../fonts/SFProTextSemibold.woff2") format("woff2"), url("../../fonts/SFProTextSemibold.woff") format("woff"), url("../../fonts/SFProTextSemibold.ttf") format("truetype"), url("../../fonts/SFProTextSemibold.svg#SFProTextSemibold") format("svg");
}
body {
  font-family: "SFProTextSemibold";
}

p {
  font-family: "SFProTextRegular";
}

button {
  font-family: "SFProTextSemibold";
}

.primary-btn {
  color: #ffffff;
  background-color: transparent;
  padding: 12px 32px;
  border: 1px solid #6de754;
  border-radius: 12px;
}

.second-btn {
  color: #000000;
  background-color: #6de754;
  padding: 12px 32px;
  border: 1px solid #6de754;
  border-radius: 12px;
}

.topSection {
  min-height: 100vh;
  width: 100%;
  background-color: #161815;
}
.topSection .text-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 5%;
}
@media screen and (max-width: 767.98px) {
  .topSection .text-box {
    padding: 0 6%;
  }
}
.topSection .text-box h1 {
  font-size: 88px;
  color: #6de754;
}
.topSection .text-box h1 span {
  color: #ffffff;
}
@media screen and (max-width: 991.98px) {
  .topSection .text-box h1 {
    font-size: 62px;
  }
}
@media screen and (max-width: 767.98px) {
  .topSection .text-box h1 {
    font-size: 30px;
  }
}
.topSection .text-box p {
  max-width: 450px;
  color: #909090;
  margin-top: 1.25%;
}
.topSection .features_mgn_gap {
  margin-top: 3.5%;
}

header {
  display: flex;
  align-items: center;
  padding-inline: 6.5%;
  padding-top: 4%;
  padding-bottom: 1%;
  position: relative;
}
@media screen and (max-width: 991.98px) {
  header {
    justify-content: space-between;
  }
}
header nav {
  display: flex;
  align-items: center;
  flex: 1;
}
header nav ul {
  margin-left: 40px;
}
@media screen and (max-width: 991.98px) {
  header nav ul {
    margin-left: 0px;
  }
}
header nav ul li {
  display: inline;
}
@media screen and (max-width: 991.98px) {
  header nav ul li {
    display: block;
    margin-bottom: 16px;
  }
}
header nav ul li:nth-child(-n+2) {
  margin-right: 24px;
}
@media screen and (max-width: 991.98px) {
  header nav ul li:nth-child(-n+2) {
    margin-right: 0px;
  }
}
header nav ul li a {
  color: #909090;
  transition: all 0.5s;
}
header nav ul li a:hover {
  color: #ffffff;
}
header nav .cta {
  margin-left: auto;
  display: flex;
  gap: 16px;
}
@media screen and (max-width: 991.98px) {
  header nav .cta {
    margin-left: inherit;
    flex-direction: column;
  }
}
@media screen and (max-width: 991.98px) {
  header nav {
    position: absolute;
    min-height: 100vh;
    height: 100%;
    width: 200px;
    right: -200px;
    top: 0;
    padding: 10px;
    background-color: #1e201d;
    flex-direction: column;
    align-items: flex-start;
    border-left: 2px solid #6de754;
    transition: 1s;
  }
}
header .fa-solid {
  display: none;
}
@media screen and (max-width: 991.98px) {
  header .fa-solid {
    display: block;
  }
}

.searchBox {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 1.25%;
}
@media screen and (max-width: 767.98px) {
  .searchBox {
    padding: 6%;
  }
}

.searchBox_in {
  width: 40%;
  border-radius: 12px;
  border: 1px solid #909090;
  padding: 0.5% 0.5% 0.5% 1%;
  display: flex;
}
@media screen and (max-width: 991.98px) {
  .searchBox_in {
    width: 60%;
  }
}
@media screen and (max-width: 767.98px) {
  .searchBox_in {
    width: 100%;
    flex-direction: column;
    padding: 5% 4%;
    gap: 15px;
  }
}

.searchBox_in input {
  height: 44px;
  flex: 1;
  color: #fff;
}

/* Standard Placeholder Style */
.searchBox_in input::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #909090;
}

.searchBox_in input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #909090;
  opacity: 1;
}

.searchBox_in input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #909090;
  opacity: 1;
}

.searchBox_in input:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #909090;
}

/* Placeholder Focus Style */
/* WebKit browsers */
.searchBox_in input::-webkit-input-placeholder:focus {
  color: #909090;
}

/* Mozilla Firefox */
.searchBox_in input:-moz-placeholder:focus {
  color: #909090;
  opacity: 1;
}

.searchBox_in input::-moz-placeholder:focus {
  color: #909090;
  opacity: 1;
}

/* Internet Explorer 10+ */
.searchBox_in input:-ms-input-placeholder:focus {
  color: #909090;
}

.firm_features_row {
  padding-inline: 11.4%;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 991.98px) {
  .firm_features_row {
    padding-inline: 6%;
  }
}
@media screen and (max-width: 767.98px) {
  .firm_features_row {
    padding: 6%;
    flex-direction: column;
    gap: 15px;
  }
}
.firm_features_row .cards-col {
  flex-basis: 32%;
  background-color: #1e201d;
  padding: 1.5%;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media screen and (max-width: 767.98px) {
  .firm_features_row .cards-col {
    padding: 5% 4%;
  }
}
.firm_features_row .cards-col h4 {
  color: #ffffff;
}
.firm_features_row .cards-col p {
  color: #909090;
  font-size: 16px;
  line-height: 22px;
}

/*# sourceMappingURL=main.css.map */
